version: '3.9'
services:
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app     
      - /app/node_modules   
    depends_on:
      - auth

  auth:
    build: ./auth
    ports:
      - "3000:3000"
    volumes:
      - ./auth:/app         
      - /app/node_modules
    depends_on:
      - mongo

  mongo:
    image: mongo:6
    ports:
      - "27018:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data:
